#heading {
    color: red;
}

.container {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin: 10px;
}

.logo {
    border: 1px solid white;
    display: flex;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.text {
    display: flex;
    align-items: center;
    width: 500px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.user-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
}

.head {
    border: 1px solid black;
    width: 120px;
    height: 120px;
    background-color: rgb(109, 109, 208);
    border-radius: 50%;
}

.body {
    border: 1px solid black;
    width: 160px;
    height: 80px;
    background-color: rgb(109, 109, 208);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}