.app-container {
    background-color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
}

.logo {
    width: 300px;
    height: 100px;
    padding: 5px;
    margin-left: 10px;
}

.navbar {
    margin-right: 40px;
    width: 1000px;
}

.navbar > ul {
    display: flex;
    justify-content: space-between;
}

.navbar > ul > li{
    list-style: none;
    display: flex;
}

.navbar > ul > li > img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.navbar > ul > li > div {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar > ul > li > div:hover {
    color: #ea4073;
    cursor: pointer;
}

.body {
    margin-top: 20px;
    padding: 20px;
}

.search {
    display: flex;
    justify-content: space-between;
}

.search-box {
    height: 30px;
    width: 92%;
    resize: none;
    font-size: 20px;
}

.search-button {
    height: 35px;
    width: 80px;
    display: flex;
    background-color: #ea4073;
    color: #ffffff;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-button:hover {
    color: #ea4073;
    background-color: #ffffff;
    cursor: pointer;
}

.card-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 5%;
    cursor: pointer;
    justify-content: stretch;
    margin-bottom: 10px;
}

.card:hover {
    transform: scale(0.95, 0.95);
    transform-origin: center center;
    transition: 0.1s ease-in;
}

.card > img {
    width: 100%;
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
}

.card > h4 {
    margin: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.star-eta {
    display: flex;
    margin-left: 5px;
    margin-top: -16px;
    padding: 0;
    align-items: center;
}

.star-eta > img {
    width: 20px;
    height: 20px;
}

.star-eta > p {
    margin-left: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.star-eta > ul > li {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-text {
    margin-left: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: rgb(2, 6, 12);
    opacity: 50%;
    font-size: 15px;
}